/*File Description: This is the homepage grid template CSS.*/

.homepage-grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
	"we"
	"so"
	"br"
	"ph"
	"pb"
	"ed"
	"ebof"
	"ebot"
	"woh"
	"wob"
	"ft";
}
