/*Welcome section*/

#welcome {
	grid-area: we;
	display:flex;
	flex-direction:column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:rgb(241, 241, 241);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

	/*welcome h1 can be found in text-styles.css*/

	/*welcome section picture style*/
	#picture {
		border-radius: 90%;
		border-width:5px;
		background:linear-gradient(ghostwhite, rgb(100, 52, 190));
		border-style:solid;
		border-color:rgb(241, 241, 241);
		padding:7px;
	}