/*File Description: This is the homepage body CSS for the single body parts.
For the homepage template grid check the /homepage/homepage-grid.css file.*/

body {
	background-color: white;
}



/*the style for the colored sections*/
.section-colored {
	/*border: 3px solid grey;
	border-radius: 30px;*/
	background-image: linear-gradient(rgb(116, 129, 253), rgb(100, 52, 190));
	
}

/*the style for the colored sections*/
.section-uncolored {
	/*border: 3px solid grey;
	border-radius: 30px;*/
	background-color: white;
	
}

	/*colored section title
	.section-title {
		text-decoration-line: none;
		text-align: left;
		margin: 5px;
	}

	/*colored section text style
	.section-text {
		text-align: left;
		color: white;
		margin-bottom: 5px;
	}*/

/*
	.cardbutton:hover {
		background-color: white;
		color: rgb(90, 24, 243);
		border-color: rgb(90, 24, 243);
	}
*/
