/*File Description: "in brief" section style*/

/*organized as flexbox*/
.brief {
	grid-area: br;
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	border-radius:50%;
	padding-top: 50px;
    padding-bottom: 50px;
}
