/*File Description: "education body others" section style*/


.education-body-other {
	grid-area: ebot;
	border-radius:10;
	text-orientation:left;
	padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}