/*File Description: "education head" section style*/

/*organized as flexbox*/
.education-head {
	grid-area: ed;
	text-align: center;
	border-radius:50% 70%;
	padding-top: 20px;
    padding-bottom: 20px;
	margin-left:30%;
	margin-right:30%;
	
}
