/*File Description: "presentation body" section style*/


.presentation-body {
	grid-area: pb;
    align-items: center;
    display:flex;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 30px;
    margin-bottom: 150px;
}