/*File Description: "in brief" section style*/

/*organized as flexbox*/
#brief {
	grid-area: br;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	text-align:center;
	border-radius:90%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 15%;
	margin-right: 15%;
}

/*extra style for the descriptive points below the brief section title*/
@media (max-width:599px)
{
	#brief-points {
		color:white;
		font-size:20px;
	}
}

@media (min-width:600px)
{
	#brief-points {
		color:white;
		font-size:24px;
	}
}