/*File Description: "education" section style*/

	/*education area title*/
	.education-head {
		grid-area: ed;
		text-align: center;
		border-radius:50% 70%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left:15%;
		margin-right:15%;
		
	}

	/*the "official education" part*/

	.education-official {
		grid-area: ebof;
		display:flex;
		flex-direction:row;
		justify-content: center;
		border-radius:10;
		padding-top: 20px;
		padding-bottom: 50px;
		padding-left:5%;
		padding-right:5%;
	}
	

	/*the "interest/others" part*/
	.education-other {
		grid-area: ebot;
		display: flex;
		flex-direction:row;
		justify-content: center;
		border-radius:10;	
		padding-top: 20px;
		padding-bottom: 50px;
		padding-left:5%;
		padding-right:5%;
	}