/*File Description: This is the homepage body CSS for the single body parts.
For the homepage template grid check the /homepage/homepage-grid.css file.*/

body {
	background-color:ghostwhite;
}



/*the style for the purple sections*/
.section-purple {
	/*border: 3px solid grey;
	border-radius: 30px;*/
	background-image: linear-gradient(rgb(116, 129, 253), rgb(100, 52, 190));
	
}

/*the style for the blue sections*/
.section-blue {
	/*border: 3px solid grey;
	border-radius: 30px;*/
	background-image: linear-gradient(rgb(104, 132, 235), rgb(163, 184, 235));
	
}

/*the style for the blue sections*/
.section-grey {
	/*border: 3px solid grey;
	border-radius: 30px;*/
	background-color: lightgrey;
	
}

/*the style for the colored sections*/
.section-uncolored {
	/*border: 3px solid grey;
	border-radius: 30px;*/
	background-color: white;
	
}

