/*Welcome section*/

.welcome {
	grid-area: we;
    display:flex;
    flex-direction:column;
 	justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

    /*welcome h1 can be found in text-styles.css*/

    /*welcome section picture style*/
    #picture {
        border-radius: 90%;
        border-width:5px;
        background:linear-gradient(ghostwhite, rgb(100, 52, 190));
        border-style:solid;
        border-color:white;
        padding:7px; 
    }