/*Welcome section*/

.welcome {
	grid-area: we;
    display:flex;
    flex-direction:column;
 	justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

    /*welcome h1*/
    @media (max-width:599px){
        #h1-welcome {
            font: bold 36px Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            text-align:center;
        }
    }

    @media (min-width:600px){
        #h1-welcome {
            font: bold 44px Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            text-align:center;
        }
    }

    /*welcome section picture style*/
    #picture {
        border-radius: 90%;
        border-width:5px;
        background:linear-gradient(ghostwhite, rgb(100, 52, 190));
        border-style:solid;
        border-color:white;
        padding:7px; 
    }