/*File Description: This is the CSS for the author-infobox situated below blogposts*/

/*The general style for the authorbox flexbox*/
.author-info {
	grid-area: auth;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: lightsteelblue;
}

/*Dedicated style for the authorbox image*/
#author-img {
	border-radius: 200px;
	padding: 20px;
	width: 150px;
}